<head>
  <meta name="viewport" content="width=device-width">
</head>
<div class="wrap">
<span class="decor"></span>
<nav>
  <ul class="primary">
    <li>
      <a [routerLink]="['/menu']">Inicio</a>
    </li>
    <li>
      <a [routerLink]="['/usuarios']">Usuarios</a>
    </li>
    <li>
      <a [routerLink]="['/areas']">Áreas</a>
    </li>
    <li>
      <a [routerLink]="['/puestos']">Puestos</a>
    </li>
    <li>
      <a [routerLink]="['/procesos']">Procesos</a>
    </li>
    <li>
      <a href="">Record consulta</a>
      <ul class="sub">
        <li><a href="">Consultar record</a></li>
        <li><a href="">Ver procesos consultados</a></li>
      </ul>
    </li>

    <li>
      <a href="">Acerca de...</a>
      <ul class="sub">
        <li><a href="">Nosotros</a></li>
        <li><a href="">Sistema</a></li>
      </ul>
    </li>

    <li>
      <a href="">Ayuda</a>
      <ul class="sub">
        <li><a href="">Soporte técnico</a></li>
      </ul>
    </li>
    <li>
      <a href="">LogOff</a>
    </li>
  </ul>
</nav>
</div>
