<!--barra de menú que aparecera en todas las paginas-->
<app-menu-navbar></app-menu-navbar>
	<!--inicio del contenido de la tabla-->
  <h1 class="example-h2 tituloEstatus, monseLetra , text-center">PUESTOS</h1>
  <div class="demo-tab-content">
            <div class="row">
              <div class="col-md-3" align="right">
                <input matInput placeholder="Buscar">
                <button mat-raised-button class="botonRedondeado">Nuevo usuario</button>
                <button mat-raised-button class="botonRedondeado">Buscar usuario</button>
              </div>
            </div>
            <!--tabla de angular material-->
            <div class="row">
            <table >
              <thead>
              <tr>
                <th>Número de proceso</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Fecha</th>
                <th>Versión</th>
                <th>Acciones</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1</td>
                <td>Proceso de altas</td>
                <td> Bla bla bla bla bla bla</td>
                <td>12/03/2018</td>
                <td>1.0</td>
                <td><button class="botonCircular"></button></td>
              </tr>
              </tbody>
              </table>
      </div>
    </div>
