<app-menu-navbar></app-menu-navbar>
	<!--inicio del contenido de la tabla-->		
        <!--<div class="content">-->
          <h1 class="example-h2 tituloEstatus, monseLetra , text-center">ÁREAS</h1>
          <div class="demo-tab-content">
             <div class="row">
              <div class="col-sm-9"></div>
                <div class="col-md-3" align="right">                
                  <mat-form-field class="example-form">
                    <button mat-raised-button class="botonRedondeado"> Buscar</button>
                    <button mat-raised-button class="botonRedondeado">Agregar área</button>
                    <input matInput placeholder="Buscar">
                  </mat-form-field>
                  </div>
            </div>
            <div class="row">
              <!--tabla de angular material-->
              <table  class="table footable" style="font-family: Monserrat; font-size: 12pt">
                <thead>
                  <tr>
                    <th># De usuario</th>
                    <th>Puesto</th>
                    <th>Nombre del usuario</th>                    
                    <th>Correo</th>
                    <th>Extensión de teléfono</th>                    
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
               </tbody>
            </table>
        </div>
    </div>
<!--</div>-->